<h1 style="border: 1px solid black; background-color:grey">{{title}}</h1>

<h3 style="text-decoration: underline; margin-botton:3em">Member Details</h3>

<h1>{{error}}</h1>


<ul style="list-style: none"> 
    
    <p style="width:70%; margin-top:1em; margin-bottom:1em; margin:auto">
         <li> Name: {{members.name}}</li>
         <li> Email: {{members.email}}</li>
         <li> Status: {{members.status}}</li>
         <li> Id: {{members.id}}</li>
</p>
    
</ul>

